<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="fragment" content="!" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

                    <title>nanoha</title>
                    
        <meta name="description" content="" />
        <meta name="keywords" content="" />
                    <link rel="canonical" href="http://instag.myinstapage.com"/>
        
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="nanoha" />
        <meta property="og:description" content="" />
        <meta property="og:site_name" content="nanoha" />
                     <meta property="og:url" content="http://instag.myinstapage.com" />
        
        
        <link rel="stylesheet" media="screen" href="http://instapage-static-v25.s3.amazonaws.com/css-templates-global-341-jmin.css.jgz"/>
        <link rel="stylesheet" media="screen" href="http://instapage-static-v25.s3.amazonaws.com/css-templates-default-page-341-jmin.css.jgz"/>
        <link rel="stylesheet" media="screen" href="http://instapage-static-v25.s3.amazonaws.com/css-templates-default-page2-341-jmin.css.jgz"/>
        <link rel="stylesheet" media="screen" href="http://instapage-static-v25.s3.amazonaws.com/css-highlight-341-jmin.css.jgz"/>
        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-lib-jquery-1.10.2.min-341-jmin.js.jgz"></script>
        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-lib-json2-341-jmin.js.jgz"></script>
        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-translate-341-jmin.js.jgz"></script>

        
        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-lib-jq.json-341-jmin.js.jgz"></script>
        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-lib-jquery.validate.min-341-jmin.js.jgz"></script>
        <script type="text/javascript">var ijQuery = jQuery.noConflict(true);</script>
        <script type="text/javascript">
            var $ = ijQuery;
            var jQuery = ijQuery;
            window.__page_id = 58993;
            window.__version = 8;
            window.__variant = 'A';
            window.__page_domain = 'http://instag.myinstapage.com';
            window.__instapage_services = 'http://instag.myinstapage.com';
            window.__instapage_proxy_services = 'PROXY_SERVICES';
            window.__preview = false;
            page_version = 8;

            var _Translate = new Translate();
        </script>

        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-server-emailform-341-jmin.js.jgz"></script>
        <script type="text/javascript" src="http://instapage-static-v25.s3.amazonaws.com/js-lib-jquery.placeholder-341-jmin.js.jgz"></script>

        <script type="text/javascript">
            if( ijQuery === 'undefined' )
            {
                var ijQuery = jQuery;
            }

            ijQuery(document).ready(function()
            {
                try
                {
                    ijQuery('input, textarea').placeholder();
                }
                catch( e )
                {
                }
            });
        </script>

                                                                                                                                                                                                                                                                                                                                                                                                                                                            <link href="//fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
                                                                                                                                    
            <style type="text/css">
                .page-element .contents
                {
                    font-family: 'PT Serif';
                }

                .page-element.widget-headline .contents h1
                {
                    font-family: 'PT Serif';
                }

                .page-element.widget-form form
                {
                    font-family: 'Arial', sans;
                }
            </style>
        
        
        
                
        <link rel="shortcut icon" href="https://s3.amazonaws.com/instapage/favicon.ico" type="image/ico" />

                    <style type="text/css">
                body
                {
                    background-color: #fcfcfc;
                    background-image: url('https://s3.amazonaws.com/instapage/asfalt.png');
                    background-position: top left;
                    background-repeat: repeat;
                    background-size: ;
                }

                
                    .page .page-block { background-color: transparent; }

                
            </style>
        
        <style type="text/css">
                                                                                                                                                                </style>

        
        
    </head>

    <body>

        <div class="notification">
            <div class="notification-overlay"></div>
            <div class="notification-inner">
                <img src="https://s3.amazonaws.com/instapage/loading.gif" class="loading" alt="" />
                <span class="message"></span>
                <span class="close-button" onclick="jQuery(this).parent().parent().hide()">Close</span>
            </div>
        </div>

        <div class="page page2 ">
                                                <div class="page-block" id="page_block_header" style="height: 83px">
                                            </div>
                                    <div class="page-block" id="page_block_above_fold" style="height: 298px">
                                                                                    <div class="page-element widget-container page-element-type-headline widget-headline" id="element-0" style="height: 124px;width: 959px;left: 0px;top: 45px;z-index: 6;">
    
<div class="contents"><h1><p style="text-align: center;"><span style="color: #ffffff;"><strong><span style="font-size: 96px;">Instag</span></strong></span></p></h1></div>
</div>
                                                            <div class="page-element widget-container page-element-type-text widget-text" id="element-1" style="height: 47px;width: 663px;left: 152px;top: 218px;z-index: 6;">
    
<div class="contents"><p style="text-align: center;"><em><span style="font-size: 36px; color: #ffffff;">We are still working on it</span></em></p></div>
</div>
                                                            <div class="page-element widget-container page-element-type-text widget-text" id="element-4" style="height: 31px;width: 530px;left: 184px;top: 138px;z-index: 7;">
    
<div class="contents"><p style="text-align: center;"><span style="font-size: 24px;"><em><span style="color: #ffffff;">categrorize your tag</span></em></span></p></div>
</div>
                                                                        </div>
                                    <div class="page-block" id="page_block_below_fold" style="height: 197px">
                                                                                    <div class="page-element widget-container page-element-type-form widget-form" id="element-2" style="height: 118px;width: 539px;left: 221px;top: 37px;z-index: 6;">
    <script type="text/javascript">

</script>
<div class="widget-container widget-form">
    <div class="contents">
        <form method="post" action="/api/email/58993" class="email-form">
                                        <div class="input-holder field-text">
                    
                                            <div class="field-element">
                            <input
                                type="text"
                                name="Your Email and Get Notified"
                                value=""
                                placeholder="Your Email and Get Notified"
                                class="shortnice form-input required"
                            />
                        </div>
                                    </div>
            
            
            
            
            
            
            
            
            <input
                type="submit"
                class="btn submit-button button_submit dynamic-button   corners shadow button-alignment-center button_color_0066cc"
                value="SUBMIT"

            />
        </form>
    </div>
    <div style="clear: both"></div>
</div>

</div>
                                                                        </div>
                                    <div class="page-block" id="page_block_footer" style="height: 136px">
                                                                                    <div class="page-element widget-container page-element-type-text widget-text" id="element-3" style="height: 23px;width: 447px;left: 267px;top: 35px;z-index: 6;">
    
<div class="contents"><p style="text-align: center;"><span style="color: #ffffff;"><span style="font-size: 18px;">Copyright</span><span style="font-size: 18px;"> 2014 @nanophate.</span></span></p></div>
</div>
                                                                        </div>
                
                                    </div>

        <script type="text/javascript">
            ijQuery("#plug").click(function(){
                window.location = "http://www.instapage.com";
            });
        </script>

        
                            
        <div id="fb-root"></div>
            </body>
</html>
