<html>
<head>
	<title>Instag</title>
	<img class="background" src="img/bgimage.jpg"/>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
<center><a href="<%='/oauth/connect'%>"</a><img src="img/connect.png" width="50%" height="50%"/></center>
</div>
</body>
</html>
