<html>
<head>
	<title>Instag</title>
	<img class="background" src="img/bgimage.jpg"/>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
<a href="<%='/oauth/connect'%>"</a><img class="connect" src="img/connect.png"/>
</div>
</body>
</html>
